<appSettings>
    <add key="SendGridMailAccount" value="azure_7e42aeeb75175baa0add2280d54a6ecd@azure.com" />
    <add key="SendGridMailPassword" value="7eGJ3CWvBCoAHfW" />
    
    <!--<add key="TwilioSid" value="my sid" />
    <add key="TwilioToken" value="my token" />
    <add key="TwilioFromPhone" value="+12065551234" />-->
    
    <!--<add key="ClickatellBaseUrl" value="http://api.clickatell.com/http/sendmsg" />
    <add key="ClickatellUser" value="Abobakr" />
    <add key="ClickatellPassword" value="CRYMLLJPJHVfcQ" />
    <add key="ClickatellApi_id" value="3538283" />-->
    
    <add key="DataPortAccountNumber" value="2012030500001" />
    <add key="DataPortUserName" value="suleymantunc@fandfps.com" />
    <add key="DataPortPassword" value="6756rfjj5t5tg" />
    <add key="DataPortServiceCode" value="2834" />
    <add key="DataPortAlphaNumeric" value="TELEPORTEST" />
</appSettings>