<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=dt.fandfps.com;Initial Catalog=aspnet-ContactManager-20150415031456;User Id = ab; password =11" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ContactManager-201504151257366.mdf;Initial Catalog=aspnet-ContactManager-201504151257366;Integrated Security=True" providerName="System.Data.SqlClient" />-->
</connectionStrings>