<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>

    <!--bindingConfiguration="secureHttpBinding"-->
    <!--address="http://scadawebservice.fandfps.com/SCADAWebService.svc"-->

    <client>
      <endpoint name="RestFulEndpointConfig"
                address="http://localhost:51971/SCADAWebService.svc"
                
                binding="webHttpBinding"
                behaviorConfiguration="webHttpBehavior"
                contract="SCADAServiceContracts.ISCADAServiceContracts">
      </endpoint>
    </client>


    <behaviors>

      <endpointBehaviors>
        <behavior name="webHttpBehavior">

          <customHttpHeaders>
            <headers>
              <add key="Authorization" value="user1:test1"></add>
              <!--<add key="MyCustomHttpHeader2" value="yet_another_value"></add>-->
            </headers>
          </customHttpHeaders>

          <webHttp helpEnabled="true" />

        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="customHttpHeaders" type="CustomHeaderLibrary.CustomHeaderBehaviorExtensionElement, CustomHeaderLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>
</configuration>