#map-canvas {
    height: 75%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#hr-element {
    margin-top: 0px;
}

#autocomplete {
    margin-top: 10px;
    width: 100%;
    height: 25px;
}

.map-control {
    height: 30px;
    width: 25px;
    background-color: white;
    /*background-position: center;*/
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    float: left;    
    padding:1px;
}
.glyphicon {    
    color:GrayText; 
    font-size: 20px;    
}

#close-button {
    float: right;
    margin:-10px -10px 0px 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.side-panel {
    float:left;
    height:auto;
    overflow-y:scroll;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    background-color: white;
    padding: 10px;
    font-family: Roboto, Arial;
    font-size: 13px;
    margin: 10px;    
}
.filter-label{
    /*margin-right:1em;*/
    /*color:darkblue;*/ 
}

.filterInput {
    width: 130px;
    /*border: double ;*/
    height:20px;
    padding-left:3px;
}